<section class="bg-white py-40 dark:bg-slate-900">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
          <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 
          52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" 
          class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#1f2937] to-[#1e40af] 
          opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75">
        </div>
      </div>
    <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:py-40 2xl:py-28">
      
      <div class="text-center">
        <h1 class="text-gray-800 dark:text-slate-50
                        text-4xl text-center  sm:text-4xl sm:text-center md:text-5xl md:text-center  lg:text-4xl lg:text-left xl:text-6xl 2xl:text-7xl 2xl:text-center font-extrabold 
                        leading-tight drop-shadow-md">Vive la emoción de los torneos</h1>
        <p class="mt-8 text-lg font-medium text-pretty text-slate-50 sm:text-xl/8">Únete a los mejores torneos deportivos de tu ciudad y vive experiencias únicas</p>
        <div class="mt-8 flex justify-center gap-6">
                <a 
                    href="/login" 
                    class=" px-6 py-3 bg-gray-800 text-white rounded-xl font-semibold shadow-md hover:bg-gray-700 transition-all dark:bg-blue-800 dark:hover:bg-blue-700">
                    Inscribirse Ahora
                </a>

                <a 
                    href="#" 
                    class="px-6 py-3 bg-orange-600 text-white rounded-xl font-semibold shadow-md hover:bg-orange-700 transition-all">
                    Ver Todos los Torneos
                </a>
            </div>
      </div>
    </div>
   <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 
      45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" 
      class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#1f2937] to-[#1e40af] opacity-30 sm:left-[calc(50%+36rem)] 
      sm:w-288.75">
      </div>
    </div>
   
  </div>
</section>


