<section class="bg-white py-30 text-center  dark:bg-gray-900 ">
  <h2 class="text-gray-800 text-2xl md:text-3xl font-bold mb-4 2xl:text-4xl dark:text-slate-50">
    ¿Quieres organizar tu propio torneo?
  </h2>
  <p class="text-gray-600 max-w-2xl mx-auto mb-6 text-sm md:text-base dark:text-slate-50">
    Únete a nuestra plataforma como organizador y crea experiencias deportivas increíbles para tu comunidad
  </p>
  <div class="mt-8 flex justify-center gap-6">
                <a 
                    href="/login" 
                    class=" px-6 py-3 bg-gray-800 text-white rounded-xl font-semibold shadow-md hover:bg-gray-700 transition-all dark:bg-blue-800 dark:hover:bg-blue-700">
                    Convertirse en Organizador
                </a>

              
            </div>
</section>