---
import CardStatsTorneo from './CardStatsTorneo.astro';
---

<section class="bg-gray-50 py-16 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-4xl  text-orange-600 mb-10 text-center dark:text-orange-500">Informacion</h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
      <CardStatsTorneo
        title="142"
        description="Torneos Activos"
      />
      <CardStatsTorneo
        title="1.847"
        description="Equipos Inscritos"
      />
      <CardStatsTorneo
        title="Futbol"
        description="Futbol Deporte mas Popular"
      />
      <CardStatsTorneo
        title="26"
        description="Ciudades Participantes"
      />
      
    </div>
  </div>
</section>



 