<section class="bg-stone-50 py-24 lg:py-26 xl:py-50 2xl:py-30  dark:bg-slate-800">
    <div class="max-w-screen-xl px-4 py-2 lg:py-0 mx-auto">
        <h1 class="text-3xl font-extrabold tracking-tight leading-tight text-orange-600 text-center mb-10 md:text-4xl dark:text-orange-500">Nosotros</h1>
    </div>
  <div class="grid h-full max-w-screen-xl px-4 py-4 mx-auto lg:gap-4 lg:px-6  xl:gap-4 lg:py-8 lg:grid-cols-12 items-center">
    
    <div class="hidden lg:flex lg:col-span-6">
      <img class="rounded-2xl shadow-md" src="/img-cancha-nosotros.webp" alt="Img-nosotros" />
    </div>

    <div class="lg:col-span-6">
      <h2 class="text-center text-4xl text-gray-800  md:text-5xl lg:text-4xl xl:text-4xl font-extrabold mb-6 leading-tight drop-shadow-md dark:text-slate-50">
        ¿Cómo nació <span class="text-orange-600 dark:text-orange-500">FUTMANAGER</span>?
      </h2>
      <p class="text-base text-gray-600 mx-auto md:text-center lg:text-xl text-pretty 2xl:text-left font-light leading-relaxed max-w-2xl dark:text-slate-300">
        La idea de FutManager surgió al identificar una necesidad muy común en los torneos de barrio y ligas comunitarias: la falta de una herramienta digital que facilitara la organización, seguimiento y promoción de los partidos.
        <br /><br />
        Lo que empezó como una simple idea entre amigos, hoy Pitchcore se convierte en tu aliado para que nunca más te falte un compañero de juego.
    </div>

    

  </div>
</section>