---
import Logo from "../../icons/logo.astro";
---
<footer class="p-4 bg-orange-600 md:p-8 lg:p-10 2xl:py-4 dark:bg-slate-900">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900">
          <!-- <img src="logo-pitchcore.svg" alt="Logo-pitchcore"> -->
           <Logo class="size-10"/>
          <span class="ml-2 text-stone-50 text-lg">FUTMANAGER</span>    
      </a>
      <p class="my-6 text-stone-50">Plataforma definitiva para gestionar, promover y disfrutar el deporte en comunidad.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-stone-50">
          <li>
              <a href="#top" class="mr-4 hover:underline md:mr-6 ">Inicio</a>
          </li>
          <li>
              <a href="#torneos" class="mr-4 hover:underline md:mr-6">Torneos</a>
          </li>
          <li>
              <a href="#nosotros" class="mr-4 hover:underline md:mr-6 ">Nosotros</a>
          </li>
          <li>
              <a href="#contacto" class="mr-4 hover:underline md:mr-6">Contacto</a>
          </li>
         
      </ul>
      <span class="text-sm text-stone-50 sm:text-center">© 2024-2025 <a href="#" class="hover:underline">LDDL™</a>. All Rights Reserved.</span>
  </div>
</footer>