<section class="bg-white py-24 lg:py-40 2xl:py-50 xl:py-50 dark:bg-slate-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-4 lg:px-6 xl:gap-2 lg:py-16 lg:grid-cols-12 items-center">
        <div class="mr-auto space-y-6 place-self-center lg:col-span-6">
            <h1 
                class="text-gray-800 dark:text-slate-50
                        text-4xl text-center  sm:text-4xl sm:text-center md:text-5xl md:text-center  lg:text-4xl lg:text-left xl:text-6xl 2xl:text-6xl font-extrabold 
                        leading-tight drop-shadow-md">
                Organiza, Gestiona y Vive el Fútbol con <span class="text-orange-600 dark:text-orange-500">FUTMANAGER</span>
            </h1>
            <p class="text-base mb-6 font-light leading-relaxed text-pretty text-gray-500 text-center mx-auto md:text-lg lg:text-xl lg:text-left lg:mx-0 lg:max-w-2xl dark:text-slate-300">
                FUTMANAGER es la plataforma definitiva para gestionar, promover y disfrutar torneos deportivos en tu comunidad.
            
            <div class="mt-8 flex justify-center gap-6 ">
                <a 
                    href="/dashboard" 
                    class=" px-12 py-4  bg-gray-800 text-white rounded-xl font-semibold shadow-md hover:bg-gray-700 transition-all dark:bg-orange-600 dark:hover:bg-orange-700">
                    Unete Ahora
                </a>

            </div>

        </div>
        <div class="hidden lg:mt-0 lg:col-span-6 lg:flex">
            <img class="rounden rounded-2xl shadow-md" src="/img-cancha-heroSection.webp" alt="Img-heroSection">
        </div>                
    </div>
</section>

