<section class="bg-white py-20 dark:bg-slate-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-800 sm:grid-cols-3">
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl lg:text-6xl font-extrabold dark:text-slate-50">500+</dt>
              <dd class="text-2xl font-light text-gray-800 dark:text-slate-300">Torneos</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl lg:text-6xl font-extrabold dark:text-slate-50">1000+</dt>
              <dd class="text-2xl font-light text-gray-800 dark:text-slate-300">Equipos</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl lg:text-6xl font-extrabold dark:text-slate-50">20+</dt>
              <dd class="text-2xl font-light text-gray-800 dark:text-slate-300">Ciudades</dd>
          </div>
      </dl>
  </div>
</section>