---
import LayoutDashboard from "../layouts/LayoutDashboard.astro";
import Header from "../components/dashboard/vueComponent/Header.vue";
import CardStats from "../components/dashboard/vueComponent/CardStats.vue";
import TableTorneos from "../components/dashboard/vueComponent/TableTorneos.vue";
import ModalCreateTorneo from "../components/dashboard/vueComponent/ModalCreateTorneo.vue";
---

<LayoutDashboard
    title="FUTMANAGER"
    description="plataforma que conecta las personas con el deporte">
    <main>
       <div class="flex min-h-screen">
        <!-- Sidebar -->
        <aside class="w-64 bg-slate-50 shadow-md dark:bg-gradient-to-br dark:from-[#1e293b] dark:to-[#0f172a]">
          <div class="p-6 font-bold text-purple-700 text-2xl dark:text-slate-50">AdminPanel</div>
          <nav class="mt-8">
            <a href="#" class="block py-3 px-6 rounded-xl dark:text-slate-50 hover:bg-slate-800">Dashboard</a>
            <a href="#" class="block py-3 px-6 rounded-xl dark:text-slate-50 hover:bg-slate-800">Users</a>
            <a href="#" class="block py-3 px-6 rounded-xl dark:text-slate-50 hover:bg-slate-800">Analytics</a>
            <a href="#" class="block py-3 px-6 rounded-xl dark:text-slate-50 hover:bg-slate-800">Settings</a>
          </nav>
        </aside>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col p-5 dark:bg-gradient-to-br dark:from-[#0f172a] dark:to-[#1e293b]">

    <!-- Top Navbar -->
    <Header client:load/>

    <!-- Content -->
    <main class="p-6 space-y-6">
      <CardStats client:load/>
      <TableTorneos client:load/>



<div class="bg-white p-6 rounded-lg shadow-md grid grid-cols-2 md:grid-cols-4 gap-4 dark:bg-[rgba(30,41,59,0.5)]
         backdrop-blur-[10px]">
  <button class="bg-blue-600 text-white py-3 rounded-lg shadow hover:bg-blue-700">Export Data</button>
  <button class="bg-green-600 text-white py-3 rounded-lg shadow hover:bg-green-700">Generate Report</button>
</div>

<!-- <div class="bg-white p-6 rounded-lg shadow-md flex items-center gap-6">
  <img src="https://i.pravatar.cc/100" alt="Profile" class="w-20 h-20 rounded-full shadow">
  <div>
    <h3 class="text-xl font-bold text-purple-700">Sophia Ray</h3>
    <p class="text-gray-500">Administrator</p>
    <button class="mt-2 bg-purple-600 text-white px-4 py-2 rounded-lg shadow hover:bg-purple-700">Edit Profile</button>
  </div>
</div> -->

    </main>
</LayoutDashboard>